table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid black;
}

td {
    padding: 5px;
}

input:invalid {
    background-color: pink;
}

input:valid {
    background-color: lightGreen;
}

#app {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    margin-left: 8em;    margin-right: 8em;
    padding-bottom: 2em;
    min-width: 700px;
}

b{
    font-size: 20px;
}

.entete{
    background-color: #009879;
}
.entete b{
    color: #fff;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
}
h2{
    font-weight: normal;
}

.md-table-head-label{
    color: black;
    font-weight: bold;
}

.navbar-nav{
    padding-left:30px;
}
a{
    color:salmon !important
}
.nav-item{
    border-right: 1px solid #84B6D0;
}

.b-bott{
    border-bottom: #009879 solid 5px;
    width: 100%;
}

.radiogroup{
    margin-left: 25px;
}

.radiogroup input[type="radio"]{
    margin-left: 25px;
}
.radiogroup label{
    margin-left: 3px;
}

.ml{
    margin-left: 35px;
}